{% extends 'home/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-5">

    {% for post in posts %}


    <div class="d-flex mb-3">
        <img class="rounded-circle shadow-1-strong me-3 " src="{{ user.profile.image.url }}" alt="avatar" width="65" height="65" />
        <div class="card w-100  text-light" style="background-color: #333;">
            <div class="card-body p-4">
                <div class="">

                    <h5>{{ post.title }}</h5>
                    <p class="small">{{ post.date_posted }}</p>
                    <p>
                        {{ post.content }}
                    </p>
                    <hr>
                    <p class="text-light">{{ post.organizer.username }}</p>
                </div>
            </div>
        </div>

    </div>

    <form method="post" action="{% url 'add_comment' post.id %}">
        {% csrf_token %}
        <div class="card-footer h-1 border-0" style="background-color: #333;">
            {{ comment_form|crispy }}

            <button type="submit" class="btn btn-primary btn-sm">Post comment</button>


        </div>
    </form>


    {% for comment in post.comment_set.all %}
    <div class="d-flex flex-start mt-4 ml-6 mb-3">
        <a class="me-3" href="#">
            <img class="rounded-circle shadow-1-strong" src="default.jpg" alt="avatar" width="40" height="40" />
        </a>
        <div class="flex-grow-1 flex-shrink-1">
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-1">
                        {{ comment.member.user.username }}
                    </p>
                </div>
                <p class="small mb-0">
                    {{ comment.content }}
                </p>
            </div>
        </div>
    </div>
    {% endfor %}


    <hr>

    {% endfor %}
</div>


{% endblock %}