{% extends 'home/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block css_file %}
<link rel="stylesheet" href="{% static 'home/home.css' %}">
{% endblock %}
{% block content %}
<div class="col-md-8">
    <div class="container mt-5">
        <div class="d-flex mb-3">
            <img class="rounded-circle shadow-1-strong me-3 " src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="avatar" width="65" height="65" />
            <div class="card w-100  text-light" style="background-color: #333;">
                <div class="card-body p-4">
                    <div class="">

                        <h5>{{ object.title }}</h5>
                        <p class="small">{{ object.date_posted }}</p>
                        <p>
                            {{ object.content }}
                        </p>
                        <hr>
                        <p class="text-light">{{ object.organizer.username }}</p>
                    </div>
                </div>
            </div>

        </div>

        <form method="post" action="">
            {% csrf_token %}
            <div class="card-footer h-1 border-0" style="background-color: #333;">
                {{ comment_form|crispy }}

                <button type="submit" class="btn btn-primary btn-sm">Post comment</button>


            </div>
        </form>


        {% for comment in post.comment_set.all %}
        <div class="d-flex flex-start mt-4 ml-6 mb-3">
            <a class="me-3" href="#">
                <img class="rounded-circle shadow-1-strong" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png" alt="avatar" width="40" height="40" />
            </a>
            <div class="flex-grow-1 flex-shrink-1">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-1">
                            {{ comment.member.user.username }}
                        </p>
                    </div>
                    <p class="small mb-0">
                        {{ comment.content }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}


        <hr>


    </div>

</div>
<div class="col-md-4 mt-4">
    <div class="content-section">
        <h3>Events</h3>
        <p class=''>
        <ul class="list-group">
            <li class="list-group-item list-group-item-black">Latest Posts</li>
            <li class="list-group-item list-group-item-dark">Announcements</li>
            <li class="list-group-item list-group-item-dark">Calendars</li>
            <li class="list-group-item list-group-item-dark">Csec-Astu</li>
        </ul>
        </p>
    </div>
</div>
{% endblock %}