{% extends 'login/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css_file %}
<link rel="stylesheet" href="{% static 'login/login.css' %}">
{% endblock %}

{% block form %}
<h2>LOGIN</h2>
<form method="POST" action="{% url 'login_page' %}">
    {% csrf_token %}
    <!-- Username input -->
    {{ form|crispy }}

    <button type="submit" class="btn btn-primary btn-block mb-4 w-25" style="background-color: #007bff; border-color: #007bff;">
        Login
    </button>

    <div class="border-top pt-3">
        <small>Already a member? <a class="ml-2" href="{% url 'signin_page' %}">Sign up</a> </small>
    </div>

</form>
{% endblock %}